<div class = "wrapper">
 <div class="img-upload">
      <div class="weight-bold-text">
        お酒の画像
        <span class="indispensable">任意</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
         
      </div>
    </div>

   
   <%= form_with(model: item, local: true) do |form| %>
      <%= form.file_field :image, id:"item.image" %>
      <%= form.text_field :company_name, placeholder: "酒蔵名（必須、最大40文字まで）" %>
      <%= form.text_field :name, placeholder: "お酒の名前（必須、最大40文字まで）" %>
      <%= form.text_field :nomikuchi, placeholder: "飲み口（必須、甘口や辛口など）"%>
      <%= form.text_field :nomikata, placeholder: "オススメの飲み方（必須、冷酒や熱燗など）"%>
      <%= form.text_area :description, placeholder: "お酒の説明（必須、最大1,000文字まで）"%>
      <%= form.submit "投稿する" %>
   <% end %>
<% end %>