 <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">任意</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
      </div>
    </div>
    <div class="items-detail">
      <div class="weight-bold-text">お酒の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          飲み口
        <span class="indispensable">必須</span>
      </div>
        <%= collection_select(:nomikuchi_id, Nomikuchi.all, :id, :name, {}, {class:"select-box", id:"item.nomikuchi"}) %>
        <div class="wight-bold-text">
          オススメの飲み方
        <span class="indispensable">必須</span>
      </div>
        <%= collection_select(:nomikata_id, Nomikata.all, :id, :name, {}, {class:"select-box", id:"item.nomikata"}) %>
      </div>
    </div>

   
   <%= form_with(model: item, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "酒蔵名（必須、最大50文字まで）" %>
      <%= form.text_field :name, placeholder: "お酒の名前（必須、最大50文字まで）" %>
      <%= form.text_area :text, placeholder: "お酒の説明（必須、最大1,000文字まで）"%>
      <%= form.submit "投稿する" %>
   <% end %>