<div class="content_post">
   <%= image_tag item.image.variant(resize: '500x350'), class: 'message-image' %>
   <div class="more">
      <%= image_tag "atsukan2.png", class: 'item-image' %>
      <ul class="more_list">
        <li>
          <%= link_to '詳細', item_path(item.id), method: :get %>
        </li>
          <% if user_signed_in? && current_user.id == item.user_id %>
        <li>
          <%= link_to '削除', item_path(item.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <p><%= item.name %></p>
  <span class="name">
    <a href="/users/<%= item.user.id %>">
      <span>written by</span><%= item.user.nickname %>
    </a>
  </span>
</div>