<div class="contents row">
  <%= image_tag @item.image ,class:"item-box-img" %>    
   <% if user_signed_in? && current_user.id == @item.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        
      </ul>
    </div>
    <% end %>
    <span class="name">
     <span>お酒の名前</span><p><%= @item.name %></p>
     <span>酒蔵の名前</span><div><%= @item.company_name %></div>
     <span>味わい</span><div><%= @item.nomikuchi %></div>
     <span>美味しい飲み方</span><div><%= @item.nomikata %></div>
     <span>投稿者のコメント</span><div><%= @item.description %></div>
    <span class="name">
      <a href="/users/<%= @item.user.id %>">
        <span>written by</span><%= @item.user.nickname %>
      </a>
    </span>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "投稿する" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>